<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Finafunds Value</title>
    <link rel='stylesheet' type="text/css" href='stylesheets/style.css'>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="display-3">Finafunds Value</h1>
          <br>
          <h1>Averigüa la rentabilidad de tus fondos de inversión</h1>
          <form id="uploadFile" action="/" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <input type="file" accept=".csv" name="file" class="form-control form-control" required>
            </div>
            <input type="submit" class="button" value="Subir archivo">
          </form>
          <hr>

          <h3>Encuentra la información financiera que buscas:</h3>
          <form action="api/performance/" method="get">
            <div class="form-group">
              <input type="text" name="ISIN" value="" placeholder="ISIN" required>
              <input type="text" name="dateFrom" value="" placeholder="Date from" required>
              <input type="text" name="dateTo" value="" placeholder="Date to" required>
            </div>
            <input type="submit" class="button" value="Enviar datos">
          </form>
          <div id="loadingGifContainer" >
            <iframe id="loadingGif" src='https://gfycat.com/ifr/SkinnySeveralAsianlion' frameborder='0' scrolling='no' width='300' height='300' allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-5" style="padding-top:3em">

          {{#if records}}
          <h4>Resultados del fichero analizado:</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Líneas procesadas: {{ records.processed_records }}</th>
                  <th scope="col">Errores encontrados: {{ records.errors_found }}</th>
                </tr>
                <tr>
                  <th scope="col">Líneas erróneas: </th>
                </tr>
              </thead>
              <tbody>
                {{#each records.error_display }}
                <tr>
                    <td>{{this}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
          {{/if}}
        </div>
      </div>
    </div>


    <script type="text/javascript">

      jQuery('#uploadFile').submit(function() {
        jQuery('#loadingGif').css('visibility', 'visible');
      });
    </script>
  </body>
</html>
